* {
    font-family: 'Nanum Gothic', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.nav-top {
    margin-top: 2% !important;
}

.logo {
    color: #2289ff !important;
    margin-left: 50px;
    font-family: 'Abel', sans-serif;
    font-size: 33px !important;
}

.home {
    color: #2289ff !important;
    padding-right: 50px !important;
    padding-left: 50px !important;
    /* font-weight: 400 !important; */
}

.link {
    font-size: 19px !important;
    font-weight: 600;
    padding-right: 50px !important;
}

.login {
    padding: 0.275rem 0.95rem !important;
}

.main-img {
    width: 67% !important;
    border-radius: 4%;
    position: absolute;
    margin-top: 0px;
    margin-left: 28%;
}

.card-outline {
    margin-top: 5%;
    max-width: 44% !important;
    border-radius: 8% !important;
}

.card-style {
    padding-left: 56px !important;
}

.card-border {
    border-radius: 10% !important;
}

.head-1 {
    font-size: 87px;
    font-family: 'Playfair Display', serif;
    color: #a8ad59;
    overflow-y: hidden;
    margin-bottom: 0px !important;
}

.head-2 {
    font-size: 47px;
    font-family: 'Playfair Display', serif;
    color: #2b3824;
    overflow-y: hidden;
    margin-top: 0px !important;
}

.card-para {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    opacity: 70%;
}

.start-here-btn {
    margin-left: 9%;
    margin-top: 4%;
    margin-bottom: 10%;
}


/* ABOUT US Page */

.about-nav {
    margin-bottom: 2% !important;
}

.abt-home {
    padding-left: 0px !important;
}

.about-img {
    width: 54% !important;
    margin-top: 45px;
    margin-left: 41%;
}

.headline {
    color: black !important;
    border-bottom: 2px solid #2890ff;
    border-bottom-right-radius: 11px;
    border-bottom-left-radius: 11px;
}

.about-heading {
    font-size: 58px;
    padding-left: 15%;
    padding-top: 9%;
    padding-bottom: 3%;
    color: #2b3824;
}

.about-para {
    font-size: 19px;
    padding-left: 15%;
    padding-right: 7%;
    text-align: justify;
    opacity: 75%;
}

.about-div {
    margin-bottom: 5% !important;
}


/* contact us  */

.contact-nav {
    margin-top: 0% !important;
}

.card-cont {
    margin-left: 16% !important;
    width: 24.5rem;
    border-radius: 5% !important;
}

.card-title-cont {
    margin-bottom: 1.75rem !important;
    color: #2b3824;
}

.card-link-cont {
    margin-left: 65% !important;
}


/* footer */

.mb-5,
.my-5 {
    margin-bottom: 0rem !important;
}

.ft-font {
    font-family: 'Nanum Gothic', sans-serif;
}


/* Service Page  */

.service {
    margin: 30px 0 -9px 0;
    text-align: center;
    overflow-y: hidden;
}


/* service page 2 */


/* body {
    font-family: arial;
} */

.main {
    margin: 2%;
    text-align: center;
}

.card-s {
    width: 28%;
    display: inline-block !important;
    box-shadow: 2px 2px 20px black;
    border-radius: 5px;
    margin: 2%;
}

.image img {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.title {
    text-align: center;
    /* padding: 10px; */
}

.img-title {
    font-size: 25px !important;
    margin-top: 0.5rem;
    margin-bottom: 0px;
}

.des h5 {
    font-size: 12px !important;
    margin-bottom: 3% !important;
}

.des {
    padding: 3px;
    text-align: center;
    padding-top: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}